@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-image: url("./Images/bg.jpg");
}

body {
    font-family: 'Roboto Infanity', sans-serif;
                                                
}

.txtspc2 {
    letter-spacing: 4px;
}